<p>Change Password</p>

<form [formGroup]="form" (ngSubmit)="changePassword()">
  <!-- Old Password Field -->
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      id="oldPassword"
      type="password"
      class="form-control"
      formControlName="oldPassword"
    />
    <div
      *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid"
      class="alert alert-danger"
    >
      Old Password is required.
    </div>

    <div
    *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.hasError('invalidOldPassword')"
    class="alert alert-danger"
  >
    Old Password is invalid.
  </div>
  </div>

  <!-- New Password Field -->
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input
      id="newPassword"
      type="password"
      class="form-control"
      formControlName="newPassword"
    />
    <div
      *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid"
      class="alert alert-danger"
    >
      New Password is required.
    </div>
  </div>

  <!-- Confirm Password Field -->
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      id="confirmPassword"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
    />
  
    <!-- Confirm Password is required -->
    <div
      *ngIf="
        form.get('confirmPassword')?.touched &&
        form.get('confirmPassword')?.hasError('required')
      "
      class="alert alert-danger"
    >
      Confirm Password is required.
    </div>
  
    <!-- Passwords do not match -->
    <div
      *ngIf="
        form.get('confirmPassword')?.touched &&
        form.hasError('passwordShouldMatch')
      "
      class="alert alert-danger"
    >
      Passwords do not match.
    </div>
  </div>
  
  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary" >
    Change Password
  </button>
</form>
