<!-- Interpolation  kise bhe method ,function ko agar html walay page kay andar dikhana hoto bracket menm show krwatat hen-->
<h1>hello boi{{ title }}</h1>

<button (click)="getData('hello')">Call function</button>
<input
  type="text"
  #box
  (keyup)="getData(box.value)"
  placeholder="event keyup"
/>

<!-- custom pipe -->
<!-- <div *ngFor="let user of users">
    <p>ID: {{ user?.id }}</p>
    <p>Name: {{ user?.name }}</p>
    <p>Salary: {{ user?.salary }}</p>
    <p>Date of birth: {{ user?.dob }}</p>
    <p>Age: {{ user?.dob | age }}</p>
    </div> -->

<!-- Services -->
<!-- <div *ngFor="let user of users">
  <p>ID: {{ user?.id }}</p>
  <p>Name: {{ user?.name }}</p>
  <p>Salary: {{ user?.salary }}</p>
  <p>Date of birth: {{ user?.dob }}</p>
  <p>Age: {{ user?.dob | age }}</p>
</div> -->

<!-- ?hhtp service another inb gpt -->
<!-- <div *ngIf="users.length">
  <h2>List of Users</h2>
  <ul>
    <li *ngFor="let user of users">{{ user.name }} ({{ user.email }})</li>
  </ul>
</div>
<div *ngIf="!users.length">Loading users...</div> -->

<!-- Binding component   render here -->
<app-binding></app-binding>

<!-- Routing Basics -->
<nav class="d-flex">
  <a routerLink="/">User Management</a>

  <ul>
    <li>
      <a routerLink="/users">Users</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- This is where the routed component will be displayed -->
<router-outlet></router-outlet>

<!-- Angular forms tutorial # Pre filled Form | template driven form | TDF
 -->
<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input
    type="text"
    name="email"
    [(ngModel)]="userData.name"
    placeholder="Email"
  /><br />
  <input
    type="text"
    name="address"
    [(ngModel)]="userData.address"
    placeholder="Address"
  /><br />
  <input
    type="text"
    name="phone"
    [(ngModel)]="userData.phone"
    placeholder="Phone"
  /><br />
  <button type="submit">Submit</button>
</form> -->

<!--Todo list  -->
<h1>{{ title }}</h1>
<input #task type="text" placeholder="Enter a task" />
<button (click)="addTask(task.value)">Add task</button>

<ul *ngFor="let item of list">
  <li>{{ item.name }} <button (click)="deleteTask(item.id)"></button></li>
</ul>

<!-- Basic Tyscript -->
<!-- Udemy course -->
 <div class="col-12 "></div>
<button class="btn btn-primary" [ngClass]="">Bootstrap Button</button>

<!-- Clas Binding -->
 <h1>Class Binding</h1>
<p class="bg-pink" [class.active] = "isActive">Today we are discuss the class binding tthis is dynamicaic class</p>

<button (click)="classBinding()">change the upper class text</button>

<!-- Style Binding -->
<h1>Style Binding</h1>
<p class="bg-pink" [style.background] = "isActive2 ? 'blue' : 'white' ">Today we are discuss the class binding tthis is dynamicaic class</p>

<button (click)="styleBinding()">change the upper class text</button>

<!-- Ng Class -->
<h1>NgClass Binding Example</h1>
<button [ngClass]="{ 'btn-secondary2': isActive3, 'btn-secondary1': !isActive3 }" (click)="toggleButtonClass()">
  Click Me
</button>

<p class="bg-pink" [style.background] = "isActive2 ? 'blue' : 'white' ">Today we are discuss the class binding tthis is dynamicaic class</p>



<!-- Event filter -->
<h1>Event fIlter</h1>
<input type="text" (keyup.enter)="onKeyUp()" >


<!-- Templtate Variable -->
<h1>Templtate Variable</h1>
<input type="text" #email (keyup.enter) = "onKeyUp2(email.value)"/>



<h2>Custom Pipe</h2>
<p>{{ text | summary:100 }}</p>


<h1>Assignment</h1>
<button [ngClass]="{ 'btn-secondary2': isActive3, 'btn-secondary1': !isActive3 }" (click)="toggleButtonClass()">
  Click Me
</button>

<!--  -->
<h2>Input Conept data send from parent to child</h2>
<app-contact [message]="message"></app-contact>

<!-- ngIf -->
 <div  *ngIf="courses.length > 0 nodata">
 <div *ngFor="let course of courses">
  {{course.name}}
 </div>

 <ng-template #nodata>
  no courses yet
 </ng-template>
</div>

<!-- ngFor cahnge detection -->
<div *ngFor="let course of courses" (click)="onAdd()">
  {{course.name}}
  <button (click)="onRemove(course)">Remove</button>
 </div>

 <!-- ngFor track by Id -->
<!-- <h2>ngFor track by Id</h2>

<button>Load</button>
<div *ngFor="let course of courses">
  {{course.name}}
 </div> -->

 <!--creating custum directive  -->
 <h3 class="mt-3">creating custum directive </h3>
 <input type="text" [appInputFormat]="'uppercase'">

 <!-- Tempktae driven form
  <h3> Template driven form</h3>
     -->

  <!-- <form>
    <div class="form-group"> -->
      <!-- The label text "First Name" is associated with the input field having id="firstName".
Clicking on the label will focus the input field. -->
      <!-- <label for="firstName">First Name</label>
      <input id="firstName" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label for="comments">Comments</label>
      <textarea cols="30" rows="4" id="comments" type="text" class="form-control">
    </div>

    <button class="btn btn-primary"Submit></button>
  </form> -->


  <h3 >Passing Event Data </h3>
  <button (click)="handleClick($event)">Click Me!</button>
     <!-- Reactive Form -->
 
  
    <app-contact></app-contact> 


    
    <app-new-course-form></app-new-course-form> 